.footer {
  background-color: $background-footer;
  min-height: 80px;
  display: flex;
  align-items: center;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 1197px) {
    justify-content: center;
  }
}

.footer__list--mob {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.footer__list-item {
  display: flex;
  align-items: center;
  min-height: 80px;
  position: relative;
  padding: 0 40px 0 0;

  &:not(:last-child) {
    margin-right: 35px;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 18px;
    display: block;
    background-image: url('../img/icon-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 32px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  @media (max-width: 1150px) {
    &:last-child {
      padding: 0;
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    padding: 0;
    margin: 0;
  }
}

.footer__copyright-list-item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: $white;
}

.footer__item-pay {
  &:not(:last-child) {
    margin-right: 38px;
  }

  @media (max-width: 768px) {
    margin: 20px;
  }
}

.footer__qiwi {
  color: $footer-pay;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-left: 30px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../img/qiwi.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer__yandex {
  color: $footer-pay;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-left: 30px;

  &::before {
    content: '';
    width: 14px;
    height: 18px;
    display: block;
    position: absolute;
    left: 0;
    top: -3px;
    background-image: url('../img/yandex.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer__web-money {
  color: $footer-pay;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-left: 30px;

  &::before {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../img/web-money.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

.footer__contacts-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-right: 38px;

    @media (max-width: 768px) {
      margin: 0;
      padding: 0 0 20px;
    }
  }
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: $white;

  &:hover {
    color: $color-logo;
  }

  &:active {
    color: $color-active;
  }
}

.footer__link--mail {
  position: relative;
  padding-left: 30px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-image: url('../img/footer-mail.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: -1px;
  }
}

.footer__link--vk {
  position: relative;
  padding-left: 30px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-image: url('../img/footer-vk.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: -1px;
  }
}
