$white: #ffffff;
$black: #000000;
$background-header: #10101D;
$color-logo: #42A9ED;
$color-active: #35607D;
$background-btn: #3E9CDC;
$border-btn: #6F6D7B;
$color-btn: #2A2B30;
$background-form: #272733;
$color-form-heading: #3E9CDC;
$color-form-text: #BBBBBB;
$border-circle: #286690;
$background-footer: #3D4050;
$footer-pay: #C3C3C3;
